body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4a4e69;
}
hr {
  border: 1px solid #4a4e69;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.sidebar {
  background-color: #c9ada7;
  flex: 30%;
}
.content {
  flex: 70%;
  background-color: #9a8c98;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.create-project-button {
  display: flex;
  background-color: #b69d97;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 10px #b69d97;
  margin-top: 10px;
  color: #4a4e69;
}
.create-project-button:hover {
  background-color: #a08a85;
}
.project-name-input {
  border: none;
  background-color: #f2e9e4;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  color: #4a4e69;
  width: 80%;
}
.project-name-input:focus {
  outline: none;
}