body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #283618;
}
hr {
  border: 1px solid #283618;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.sidebar {
  background-color: #606c38;
  flex: 30%;
}
.sidebar.open {
  transform: translateX(0);
}
.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex: 70%;
  background-color: #fefae0;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.create-project-button {
  display: flex;
  background-color: #6a994e;
  color: #f2e9e4;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 10px #283618;
  margin-top: 10px;
}
.create-project-button:hover {
  background-color: #52773c;
}
.create-project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.project-name-input {
  border: none;
  background-color: #f2e9e4;
  padding: 20px;
  border-radius: 30px;
  font-size: 15px;
  color: #283618;
  width: 80%;
  box-shadow: 0px 0px 10px #283618;
}
.project-name-input:focus {
  outline: none;
}
.project-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 80%;
}
.project-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.project-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fefae0;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #283618;
}
.project-item:hover {
  background-color: #ddd9c2;
}
.delete-project-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #b69d97;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #f2e9e4;
  background-color: #bc4749;
}
.update-project-button {
  display: flex;
  align-items: center;
  background-color: #b69d97;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #f2e9e4;
  background-color: #197278;
}
.project-error {
  color: #f2e9e4;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.error-item {
  background-color: #bc4749;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.create-todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 80%;
  height: 200px;
  background-color: #606c38;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #283618;
  margin-bottom: 20px;
}
.project-todo-input {
  border: none;
  border-radius: 40px;
  padding: 15px;
  width: 40%;
  background-color: #f2e9e4;
  box-shadow: 0px 0px 10px #283618;
}
.project-todo-input:focus {
  outline: none;
}
.project-todo-input-description {
  border: none;
  border-radius: 40px;
  padding: 15px;
  width: 80%;
  background-color: #f2e9e4;
  box-shadow: 0px 0px 10px #283618;
}
.project-todo-input-description:focus {
  outline: none;
}
.create-todo-button {
  display: flex;
  background-color: #6a994e;
  color: #f2e9e4;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 10px #283618;
  margin-top: 10px;
}
.project-todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}
.project-todo-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: auto;
  min-height: 80px;
  background-color: #606c38;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #283618;
}
.project-todo-title {
  font-size: 20px;
  font-weight: bold;
  color: #f2e9e4;
}
.input-edit-name-project {
  border: none;
  padding: 5px;
  border-radius: 20px;
  background-color: #f2e9e4;
}
.input-edit-name-project:focus {
  outline: none;
}
.todo-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #f2e9e4;
  text-shadow: 1px 1px 2px black;
}
.todo-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #f2e9e4;
}
.background-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #8d8784a1;
}
@media (max-width: 768px) {
  .background-text {
    font-size: 20px;
    gap: 5px;
    margin-top: 20px;
  }
  .icon-tabler-pencil {
    width: 30px;
  }
}
@media (max-width: 1180px) {
  .background-text {
    font-size: 30px;
    gap: 5px;
    margin-top: 20px;
  }
  .icon-tabler-pencil {
    width: 30px;
  }
}
@media (max-width: 484px) {
  .background-text {
    font-size: 15px;
    gap: 5px;
    margin-top: 20px;
  }
  .icon-tabler-pencil {
    width: 30px;
  }
}
.toggle-sidebar-button {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  display: none;
}
.button-toggle-completed {
  background-color: #515c2f;
  border: none;
  border-radius: 40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.button-toggle-completed:hover {
  background-color: #404925;
}