body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #283618;
}
hr {
  border: 1px solid #283618;
  width: 80%;
}
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.sidebar {
  background-color: #606c38;
  flex: 30%;
}
.content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 20px;
  flex: 70%;
  background-color: #fefae0;
}
.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.create-project-button {
  display: flex;
  background-color: #6a994e;
  color: #f2e9e4;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 10px #283618;
  margin-top: 10px;
}
.create-project-button:hover {
  background-color: #52773c;
}
.create-project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%
}
.project-name-input {
  border: none;
  background-color: #f2e9e4;
  padding: 20px;
  border-radius: 30px;
  font-size: 15px;
  color: #283618;
  width: 80%;
  box-shadow: 0px 0px 10px #283618;
}
.project-name-input:focus {
  outline: none;
}
.project-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 80%;
}
.project-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.project-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.project-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #fefae0;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #283618;
}
.project-item:hover {
  background-color: #ddd9c2;
}
.delete-project-button {
  display: flex;
  align-items: center;
  background-color: #b69d97;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #f2e9e4;
  background-color: #bc4749;
}
.update-project-button {
  display: flex;
  align-items: center;
  background-color: #b69d97;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 0px 10px #283618;
  color: #f2e9e4;
  background-color: #197278;
}
.project-error {
  color: #f2e9e4;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.error-item {
  background-color: #bc4749;
  padding: 10px;
  border: none;
  border-radius: 20px;
}
.create-todo-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: #606c38;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #283618;
}
.project-todo-input {
  border: none;
  border-radius: 40px;
  padding: 15px;
  width: 80%;
  background-color: #f2e9e4;
  box-shadow: 0px 0px 10px #283618;
}
.project-todo-input:focus {
  outline: none;
}
.create-todo-button {
  display: flex;
  background-color: #6a994e;
  color: #f2e9e4;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
  align-items: center;
  gap: 5px;
  box-shadow: 0px 0px 10px #283618;
  margin-top: 10px;
}